#blinker
#certifi
#chardet
#click
Flask>1.0.0
Flask-Admin
Flask-Bootstrap
Flask-Cors
Flask-Jsonpify
Flask-HTTPAuth
Flask-Login
Flask-Mail
Flask-mongoengine
Flask-WTF
flask-moment
#itsdangerous
Jinja2
#MarkupSafe
#mongoengine
#pymongo
#python-dateutil
#pytz
requests
#sentinels
#six
#Werkzeug
WTForms==2.1
#gunicorn
Flask-DebugToolbar
flask-ckeditor