body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666666;

}
/*div.form-group.row {*/
    /*margin-bottom: 0;*/
/*}*/

/*.card{*/
    /*background: #fcfcfc;*/
/*}*/


.card-header-sm {
    min-height: 40px;
}

.light-green {
    color: #9C3;
}

/*.card .card-header {*/
    /*background: #fbf6ee;*/
/*}*/

.card-header-yellow {
    background: #fbf6ee  !important;
}

.card-header-pink {
    background: #F2EDED  !important;
}

.card-header-blue {
    background: #ECF4FA  !important;
}

.card-header-green {
    background: #F0F6ED !important;
}

.card-header-purple {
    background: #F0EDF6 !important;
}

mark {
    color: #07C !important;
    padding: 5px;
    font-size: .9em;
    line-height: 2em;
}

.card-header>h6 > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f056";
    font-size: 1.25em;
    padding-right: 5px;
}
.card-header>h6 > a.collapsed:before {
    float: right !important;
    content:"\f055";
}
.card-header>h6 > a:hover,
.card-header>h6 > a:active,
.card-header>h6 > a:focus  {
    text-decoration:none;
}


/* --------------------------
Make bootstrap-select work with bootstrap 4 see:
https://github.com/silviomoreto/bootstrap-select/issues/1135
----------------------------- */
.dropdown-toggle.btn-default {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}
.bootstrap-select.show > .dropdown-menu > .dropdown-menu,
.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
  display: block;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  text-decoration: none;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
  background-color: #f4f4f4;
}
.bootstrap-select > .dropdown-toggle {
  width: auto;
}
.dropdown-menu > li.active > a {
  color: #fff !important;
  background-color: #337ab7 !important;
}
.bootstrap-select .check-mark {
  line-height: 14px;
}
.bootstrap-select .check-mark::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.bootstrap-select button {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline !important;
}
/*------------------------------------ */