/* ------------------------------------ */

/* MolSSI website styles */

.active.boxed {
    /*max-width: 1200px;*/
    margin: 0px auto;
    background: #fff;
    padding: 0px;
    min-height: 100%;
    -webkit-box-shadow: 0px 0px 24px -8px rgba(97,97,97,1);
    -moz-box-shadow: 0px 0px 24px -8px rgba(97,97,97,1);
    box-shadow: 0px 0px 24px -8px rgba(97,97,97,1);
}

.logo {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 240px;

}

.top-bar-socials {
    float: right;
    padding: 5px 5px;
}

.ad-728x90 {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

@media (max-width: 800px) {
	.logo {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		margin-bottom: 10px;
		width: 50%;
		float: left;
	}
	.ad-728x90 {
		width: 100%;
		text-align: center;
		float: right;
	}
}

img {
    height: auto !important;
    max-width: 100%;
    height: auto;
}

.admin-form{
	width: 70%;
	margin: 0 auto;
}