{% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
{% endfor %}

{% for lib in libraries %}
<section class="card mb-3 card-outline-danger" style="border-radius: 15px">
  <!-- <img class="img-fluid w-25" src="http://localhost:5000/static/images/molssi.jpg" /> -->
  <div class="card-block">
      <h3 class="card-title text-danger">{{ lib.name }}</h3>
      <!-- <h5 class='text-center text-white bg-info'>{{ lib.owner }}</h5> -->
      <p class="card-text text-justify my-md-4">{{ lib.description }}</p>

      <div class="row">
          <div class="col-md-4 mb-2">
              <span class="bg-inverse text-white mr-2 p-1 rounded">Domain</span>{{ lib.domain }}
          </div> <!-- col-->
          <div class="col-md-8 mb-2">
              <span class="bg-danger text-white mr-2 p-1 rounded">Langauges</span>
                    {% for lang in lib.languages %}
                        {{ lang }}
                    {% endfor %}
          </div> <!-- col-->
          <div class="col-md mb-2">
              <span class="bg-primary text-white mr-2 p-1 rounded">Keywords</span>{{ lib.keywords }}
          </div> <!-- col-->
      </div> <!-- row -->

  </div><!-- card block -->

  <div class="card-footer" style="border-radius: 0 0 15px 15px">
     <a class="card-link" href="{{ lib.official_website }}" target="_blank">Offecial Website</a>
     <a class="card-link" href="{{ lib.source or '#' }}" target="_blank">Source code</a>
 </div> <!-- card footer -->

</section> <!-- section card -->
{% endfor %}
