{% extends "base.html" %}

{% block title %}{{ title|default }}{% endblock title %}

{% block page_content -%}
    <div id="page_wrapper">

        {% include 'search_form.html' %}

        <div class="container py-0">
            <p id="results_count" class="font-weight-bold"></p>
        </div>

        <div class="container p-0">
            <ul id='pagination' class="pagination-md pt-3 justify-content-center"></ul>
            <div id='results'></div>
        </div>
    </div> <!-- page warapper -->
{%- endblock page_content %}
