{% extends 'base.html' %}
{% import 'admin/layout.html' as layout with context -%}



{% block body %}
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            {% include 'molssi_header.html' %}
        </nav>
    </div>
    <div class="container w-50 p-5">

        {% block messages %}
            {{ layout.messages() }}
        {% endblock %}

        <h5>{{ message }}</h5>

        {%  if not software_not_found %}
            <div class="pt-5">
                <h6>Your software is saved for review but may not be public yet.</h6>
                <br />
                <ul>
                    <li>
                        <p>To preview your submitted software: <a href="{{ preview_url }} " target="_blank" rel="noopener noreferrer">{{ preview_url }}</a></p>
                    </li>
                    <li>
                        <p>To edit your submitted software: <a href="{{ edit_url }}" target="_blank" rel="noopener noreferrer">{{ edit_url }}</a></p>
                    </li>
                </ul>

            </div>
        {% endif %}

        <div class="pt-5">
            <p><a href="https://molssi.org/software-search/">Return to MolSSI Molecular Software DB search page</a></p>
            {# <p><a href={{ url_for('main.software_search') }}>Return to MolSSI Software DB search page</a></p>  #}
            <p><a href={{ url_for('submit_software.index_view')  }}>Add another software</a></p>
        </div>
    </div>
{%  endblock %}