{% extends "bootstrap/base.html" %}

{% block title %}{{ title|default }}{% endblock title %}

{%- block styles %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.GOOGLE_ANALYTICS_GTAG }}"></script>-->
    <script async src="{{ url_for('static', filename='js/google_analytics.js') }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ config.GOOGLE_ANALYTICS_GTAG }}');
    </script>

    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" /> #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css' ) }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css' ) }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css' ) }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_admin.css' ) }}" />

    <script type="text/javascript">
        window.WORDPRESS_DOMAIN = '{{ config.WORDPRESS_DOMAIN }}';
        window.API_DOMAIN = '{{ config.API_DOMAIN }}';
    </script>
{%- endblock styles %}


{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}


{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
{#  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script> #}
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js' ) }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-select.min.js' ) }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/wordpress_api_search.js' ) }}"></script>
{%- endblock scripts %}
