
<!-- ********* Collapsed Advanced Search ********* -->

<div id="mm_search_form" class="form-group" style="display: None">
    <hr/>

    <div class="form-group row">
        <label class="col-form-label col-md-2 text-md-right" for="file_formats">File Formats</label>

        <div class="form-check col-md-4">
            <select id='file_formats' name="file_formats" class="selectpicker form-control" multiple
                    data-actions-box="true">
                {% for val in ['pdb', 'pdbx/mmCIF', 'DCD', 'csv', 'txt', 'xml', 'prmtop', 'inpcrd', 'mdcrd', 'mdvel'] %}
                    <option>{{ val | upper}}</option>
                {% endfor %}
            </select>
        </div>
    </div> <!-- form-group -->

{#    <div class="form-group row">#}
{#        <label class="col-form-label col-md-2 text-md-right" for="ensembles">Ensembles</label>#}
{#        <div class="form-check col-md-4">#}
{#            <input id="ensembles" type="text" class="form-control" name="ensembles"#}
{#                   placeholder="Enter space separated terms.." >#}
{#        </div>#}
{#    </div> <!-- form-group -->#}

    <div class="form-group row">
        <label class="col-form-label col-md-2 text-md-right" for="qm_mm">QM/MM</label>

        <div class="form-check col-md-4">
            <select id='qm_mm' name="qm_mm" class="form-control">
                <option value="">Any</option>
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
    </div> <!-- form-group -->

    <div class="form-group row">
        <label class="col-form-label col-md-2 text-md-right" for="forcefield_types">Forcefield Types</label>
        <select id="forcefield_types" multiple class="selectpicker col-md-5" data-live-search="true"
                data-actions-box="true" title="Any" data-size="50">
            {% for forcefield_type in lib.mm_props.FORCEFIELD_TYPES -%}
                <option>{{ forcefield_type }}</option>
            {%- endfor %}
        </select>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-md-2 text-md-right" for="mm_tags">Tags</label>
        <select id="mm_tags" multiple class="selectpicker col-md-5" data-live-search="true"
                data-actions-box="true" title="Any" data-size="50">
            {% for tag in lib.mm_props.TAG_NAMES -%}
                <option>{{ tag | upper | replace('_', ' ')}}</option>
            {%- endfor %}
        </select>
    </div>

    <hr/>
</div> <!-- form group collapse -->

