<div class="boxed active container">
{#    <div class="top-bar">#}
{#        <div class="">#}
{#            <span class="top-bar-socials">#}
{#                <a href="https://www.facebook.com/molssi/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>#}
{#                <a href="https://twitter.com/MolSSI_NSF" target="_blank"><i class="fa fa-twitter"></i></a>#}
{#                <a href="https://www.linkedin.com/groups/13503505/profile" target="_blank"><i class="fa fa-linkedin"></i></a>#}
{#            </span>#}
{#        </div>#}
{#    </div>#}
    <header>
    <div class="container">
        <div class="logo">
            <a href="http://molssi.org/">
                <img id="logo" src="{{ url_for('static', filename='images/MolSSI-Logo-xl.jpg' ) }}" alt="MolSSI">
            </a>
        </div>
        <div class="ad-728x90">
            <a href="http://www.molssi.org">
                <img src="{{ url_for('static', filename='images/Banner_AllCaps.jpg' ) }}" alt="" title=""/>
            </a>
        </div>
    </div>
    </header>

</div> <!-- boxed -->