<div class="boxed active container">
    <header>
    <div class="container">
            <div class="logo">
                <a href="http://molssi.org/">
                    <img id="logo" src="{{ url_for('static', filename='images/MolSSI-Logo-xl.jpg' ) }}" alt="MolSSI">
                </a>
            </div>
            <div class="logo-728x90">
                <a href="http://www.molssi.org">
                    <img src="{{ url_for('static', filename='images/Banner_AllCaps.jpg' ) }}" alt="" title=""/>
                </a>
            </div>
    </div>
    </header>

</div> <!-- boxed -->