<div class="boxed active container w-75">
    <header>
    <div class="container">
        <div class="row">
            <div class="logo col-md">
                <a href="http://molssi.org/">
                    <img id="logo" src="{{ url_for('static', filename='images/MolSSI-Logo-xl.jpg' ) }}" alt="MolSSI">
                </a>
            </div>
            <div class="ad-728x90 col-md">
                <a href="http://www.molssi.org">
                    <img src="{{ url_for('static', filename='images/Banner_AllCaps.jpg' ) }}" alt="" title=""/>
                </a>
            </div>
        </div>
    </div>
    </header>

</div> <!-- boxed -->