<div class='container p-0'>
    <form class="p-3 mb-3 mx-auto" style="border: 1px solid #aaaaaa; border-radius: 15px">
    <fieldset>

    <!-- Text Search input-->
    <div class="form-group row px-2"><div class="col-lg-10 mx-auto">
      <div class="input-group row">
          <input id="softwareName" class="form-control col-auto" type="text" name="softwareName" placeholder="Search software description..." >
          <div class="input-group-btn col-auto">
              <button id='search_quick' class="btn-sm btn-primary active">Search <i class="fa fa-search"></i></button>
          </div>
          <div class="input-group-btn col-auto">
              <button class="btn-sm btn-danger collapsed" data-toggle="collapse" data-target="#advancedSearch">Advanced
                  <i class="fa fa-caret-down"></i>
              </button>
          </div>
          <div class="col-auto">
              <button id="clear_search" type="button" class="btn btn-link">Clear Search</button>
{#            <a href="{{ url_for('submit_software.index_view') }}" class="btn btn-link">Add your Software</a>#}
              <a href="http://api.molssi.org/admin/submit_software" target="_blank" class="btn btn-link">Add your Software</a>
          </div>
      </div>
    </div></div> <!-- form group -->

    <!-- ********* Collapsed Advanced Search ********* -->

    <div id="advancedSearch" class="collapse">

        <!-- Domain Radio -->
        <div class="form-group row">
            <label class="col-form-label col-md-2 text-md-right" for="domain">Domain</label>

            <div id='domain' class="col-md-5">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="radio1" value="" checked>
                        Any
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="radio1" value="QM">
                        Quantum Mechanics
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="radio1" value="MM">
                        Molecular Mechanics
                    </label>
                </div>
            </div>
        </div> <!-- form-group -->

        {% include 'mm_search_form.html' %}
        {% include 'qm_search_form.html' %}

        <!-- Languages checkbox -->
        <div class="form-group row">
            <label class="col-form-label d-block col-md-2 text-md-right">Languages</label>

            <div id='languages' class="form-group col-md-8">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" checked> Any
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="Python"> Python
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="C"> C
                    </label>
                </div> <!-- form check -->
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="C++"> C++
                    </label>
                </div> <!-- form check -->
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="FORTRAN"> FORTRAN
                    </label>
                </div> <!-- form check -->
            </div> <!-- form group -->
        </div> <!-- form-group -->


        <!-- License -->
        <div class="form-group row">
          <label class="col-form-label col-md-2 text-md-right" for="price">Cost</label>

            <div class="form-check col-md-4">
                <select id="price" name="price" class="form-control">
                  <option value="">Any</option>
                  <option value="free">Free</option>
                  <option value="non-free">Commercial</option>
                </select>
            </div>
        </div> <!-- form-group -->


        <!-- Button -->
        <div class="form-group row">
          <div class="col-md-2 offset-md-2">
            <button id="search_adv" name="submit" class="btn-sm btn-primary">Search</button>
          </div>
      </div> <!-- btn-group -->

    </div> <!-- form group collapse -->
    </fieldset>
    </form>
</div> <!-- Search query container -->
