
{% for lib in libraries %}
<section class="card mb-3 card-outline-danger" style="border-radius: 15px">
    <!-- <img class="img-fluid w-25" src="http://localhost:5000/static/images/molssi.jpg" /> -->
<div class="card-block">

    <h3 class="card-title text-danger"><a href="/software_detail/{{ lib.id }}">{{ lib.software_name }}</a></h3>
    <p class="card-text text-justify my-md-4">
        {% if lib.description -%}
            {{ lib.description | safe | truncate(512) }}
        {% else %}
            {{ lib.long_description | safe | truncate(512) }}
        {% endif %}
    </p>

    <div class="row mb-4">

            <div class="col-md-6">
                <b>License: </b> {{ lib.license | empty }}
                {% if lib.price %} ({{ lib.price }}){% endif %}
            </div>

            <div class="col-md-6">
                <b>Latest version: </b> {{ lib.latest_version | empty }}
                {% if lib.date_of_latest_version %} ({{ lib.date_of_latest_version.strftime('%Y-%m-%d') }})   {% endif %}
            </div>

            <div class="col-md-6">
                <b>Documentation: </b>
                  {{  lib.documentation | urlize(30, true, '_blank') | empty }}
            </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
          <span class="bg-inverse text-white mr-2 p-1 rounded">Domain</span>{{ lib.domain }}
        </div> <!-- col-->
    </div>
    <!-- MM -->
    {%  if lib.mm_features %}
    <div class="row mb-4">
         <div class="col-md-6"><b>Ensembles: </b>
             {% for ensemble in lib.mm_features.ensembles -%}
                {{ ensemble + " " }}
             {%- endfor %}
         </div>
         <div class="col-md-6"><b>Free Energy Methods: </b> {{ lib.mm_features.free_energy_methods | empty }}</div>
         <div class="col-md-6"><b>Advanced Sampling Methods: </b> {{ lib.mm_features.advanced_sampling_methods | empty }}</div>
         <div class="col-md-6"><b>Forcefields: </b> {{ lib.mm_features.forcefields | empty }}</div>
         <div class="col-md-6"><b>File Formats: </b> {{ lib.mm_features.file_formats | empty }}</div>

        <div class="col-md-6"><b>QM/MM: </b> {{ lib.qm_mm | empty }}</div>
    </div>
    {% endif %}


    <!-- QM -->
    {%  if lib.qm_features %}
    <div class="row mb-4">
         <div class="col-md-6"><b>Basis: </b> {{ lib.qm_features.basis | empty }}</div>
         <div class="col-md-6"><b>Element Coverage: </b> {{ lib.qm_features.element_coverage | empty }}</div>
         <div class="col-md-6"><b>Other: </b> {{ lib.qm_features.other | empty }}</div>
    </div>
    {% endif %}


    <div class="row">
        <div class="col-md-12 mb-3">
            <span class="bg-danger text-white mr-2 p-1 rounded">Languages</span>
            {% for lang in lib.languages -%}
                {{ lang + " " }}
            {%- endfor %}
        </div> <!-- col-->

        <div class="col-md mb-3">
            <span class="bg-primary text-white mr-3 p-1 rounded"> Tags </span>
            {% for tag in lib.qm_features.tags -%}
                <mark>{{ tag | upper | replace('_', ' ')}}</mark> &nbsp;
            {%- endfor %}
            {% for tag in lib.mm_features.tags -%}
             <mark>{{ tag | upper | replace('_', ' ')}}</mark> &nbsp;
            {%- endfor %}
        </div> <!-- col-->
    </div> <!-- row -->

    </div><!-- card block -->

    <div class="card-footer" style="border-radius: 0 0 15px 15px">
        <a class="card-link" href="{{ lib.official_website }}" target="_blank">Official Website</a>
        <a class="card-link" href="{{ lib.source_code or 'http://' }}" target="_blank">Source code</a>

        <a href="/software_detail/{{ lib.id }}" class="card-link float-right">
            <h5 class="d-inline-block">Read more <i class="fa fa-chevron-right"></i></h5>
        </a>
    </div> <!-- card footer -->

    </section> <!-- section card -->
{% endfor %}
